.container-item {
    width: calc(50% - 1em);
    padding: 0 1em;
    height: 240px;
    overflow: hidden;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: var(--system-radius);
    margin-bottom: 1em;
    cursor: pointer;
}

.personName {
    position: relative;
    margin-bottom: 1.5em;
}

.personName::after {
    content: attr(data-job);
    font-size: 14px;
    margin-left: 1em;
}

img {
    width: 100%;
    height: 100%;
}
