.my-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.my-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    height: 72px;
    margin: 0 auto;
    padding: 0 2em;
    color: white;
    background-color: transparent;
}

.my-header-content a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
}
