:root {
    --system-radius: 0 3px 9px rgba(0, 0, 0, 0.4);
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.content-container {
    width: 100%;
    max-width: 1024px;
    padding: 2em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.business-container {
    padding: 28px 10px;
    margin: 0 -1em;
    height: 184px;
    background: radial-gradient(#2C3E50, #000000);
    max-width: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@supports (background: paint(huiwen-border)) {
    .business-container {
        --huiwen-line-width: 2px;
        background-image: paint(huiwen-border);
    }
}

.hljs {
    font-family: "Fira Code";
}

@import "~highlight.js/styles/dracula.css";
